[submodule "POLITICS_finetuning/BASIL"]
	path = POLITICS_finetuning/BASIL
	url = https://github.com/launchnlp/BASIL.git
[submodule "POLITICS_finetuning/Article-Bias-Prediction"]
	path = POLITICS_finetuning/Article-Bias-Prediction
	url = https://github.com/ramybaly/Article-Bias-Prediction.git
[submodule "hfppl"]
	path = vendors/hfppl
	url = https://github.com/ellieyhcheng/hfppl.git
[submodule "activation_additions"]
	path = vendors/activation_additions
	url = https://github.com/ellieyhcheng/activation_additions.git
[submodule "vendors/TransformerLens"]
	path = vendors/TransformerLens
	url = https://github.com/ellieyhcheng/TransformerLens.git
